<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.ringoer.myzone.zuul.mapper.ZuulMapper">
    <select id="findUrisByRoleId" parameterType="Integer" resultType="Role">
        select url,
            method
        from privilege
        where role_id = #{id} and is_deleted = false
    </select>
</mapper>